GtkGrid#grid{
    background-image:url("../android.jpeg");
    background-size:cover;
}

GtkButton#connect{
  color: white;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  background: transparent;
  transition: all 1000ms ease-in-out;
  border: 1px transparent solid;
}

GtkButton#connect {
    font: ubuntu mono italic 30;
}

GtkButton#connect:insensitive{
  color: gray;
  border-radius: 10px;
  background: transparent;
  transition: all 0ms ease-in-out;
  border: 1px transparent solid;
}

GtkButton#connect:hover {
  padding: 10px 55px 10px 55px;
  transition: all 500ms ease-in;
  text-shadow: 3px 3px 5px alpha(black, 0.75);
  icon-shadow: 3px 3px 5px alpha(black, 0.75);
  box-shadow: 3px 3px 5px alpha(black, 0.5) inset;
  border: solid 1px alpha(black, 0.75);
}

GtkButton#connect:active {
  padding: 10px 55px 10px 55px;
  text-shadow: 1px 1px 2.5px alpha(black, 0.6);
  icon-shadow: 1px 1px 2.5px alpha(black, 0.6);
}